<!DOCTYPE html>
<html>
  <head>
    <title>SaasApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Navbar %>
    <nav class="navbar navbar-expand-lg">
      <%= link_to "/", class: "navbar-brand" do %>
        <i class="fa fa-group"></i>
        DevMatch
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "About", "/about", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
